a {
    color : #4183C4;
    text-decoration: underline;
}

a.self-link {
    position: relative;
    top: 0;
    left: -80px;
    text-align: center;
    border: none;
    transition: opacity .2s;
    opacity: .5;
    font-size: 100%;
    text-decoration: none;
}
a.self-link:hover {
    opacity: 1;
}
a.self-link::before {
    content: "§";
}

h1#toctitle {
    border-bottom: 1px solid #cccccc;
}

#TOC li {
	margin-top: 1px;
	margin-bottom: 1px;
}
#TOC ul>li:before { display: none; }

h2.subtitle { margin-top: -15px; }

h1:target { background-color: transparent; }
h2:target { background-color: transparent; }
h3:target { background-color: transparent; }
h4:target { background-color: transparent; }
h5:target { background-color: transparent; }
h6:target { background-color: transparent; }
span.comment { font-family: monospace; }
.token.comment { color: green; }

table tr {
    background-color: white;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
#intro-hdr tr:nth-child(2n) {
    background-color: white;
}
td > div.sourceCode {
    background-color: inherit;
}
td > pre.language-cpp {
    background-color: inherit;
}
